# This file lists the requirements needed to develop on ga4gh/ga4gh-client.

# Include the requirements.txt file
-r requirements.txt

mock
nose
pep8
flake8==3.2.0
coverage
humanize
PyYAML
sphinx-argparse
sphinx-rtd-theme
